In [241]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [242]:
df1 = pd.read_csv("Device_predict/Device1.csv")
df2 = pd.read_csv("Device_predict/Device2.csv")
df3 = pd.read_csv("Device_predict/Device3.csv")
df4 = pd.read_csv("Device_predict/Device4.csv")
df5 = pd.read_csv("Device_predict/Device5.csv")
df6 = pd.read_csv("Device_predict/Device6.csv")
df7 = pd.read_csv("Device_predict/Device7.csv")
df8 = pd.read_csv("Device_predict/Device8.csv")
df9 = pd.read_csv("Device_predict/Device9.csv")
df10 = pd.read_csv("Device_predict/Device10.csv")
df11 = pd.read_csv("Device_predict/Device11.csv")
df12 = pd.read_csv("Device_predict/Device12.csv")

In [243]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12],axis=1)
df

,Barn_r,Barn_p,Dishwasher_r,Dishwasher_p,Fridge_r,Fridge_p,Furnace_r,Furnace_p,Garage door_r,Garage door_p,...,Living room_r,Living room_p,Microwave_r,Microwave_p,Solar_r,Solar_p,Well_r,Well_p,Wine cellar_r,Wine cellar_p
0,0.029750,0.025337,0.000000,-0.006463,0.005400,0.008750,0.088783,0.087916,0.039867,0.042479,...,0.001917,0.002058,0.003150,0.001758,0.390150,0.385787,0.001000,0.013481,0.007933,0.006773
1,0.029733,0.025807,0.000000,-0.006290,0.005033,0.008470,0.141400,0.156919,0.033667,0.036433,...,0.001783,0.001721,0.003167,0.001565,0.389600,0.384670,0.001000,0.013835,0.007917,0.006821
2,0.029533,0.025576,0.000017,-0.006267,0.005067,0.008500,0.201750,0.235353,0.013200,0.013274,...,0.001717,0.001614,0.003133,0.001473,0.389767,0.384825,0.001000,0.013835,0.007933,0.006838
3,0.029333,0.025345,0.000100,-0.006155,0.005333,0.008742,0.691767,0.648559,0.013483,0.013604,...,0.001733,0.001640,0.003100,0.001382,0.387267,0.382497,0.000967,0.013528,0.008367,0.007273
4,0.029400,0.025422,0.000100,-0.006155,0.005300,0.008711,0.662050,0.620258,0.013450,0.013566,...,0.001633,0.001479,0.003100,0.001382,0.387250,0.382481,0.001000,0.013835,0.008317,0.007223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43194,0.029967,0.023220,0.000017,-0.004931,0.121600,0.120958,0.086767,0.083554,0.013167,0.012597,...,0.009367,0.013228,0.003150,0.001146,0.013717,0.015165,0.000983,0.011599,0.007750,0.006671
43195,0.030017,0.023276,0.000017,-0.004931,0.121267,0.120613,0.086267,0.082856,0.013183,0.012617,...,0.009550,0.013504,0.003167,0.001189,0.013467,0.014911,0.001000,0.011753,0.007750,0.006671
43196,0.029900,0.023145,0.000017,-0.004931,0.121683,0.121045,0.084800,0.080806,0.013167,0.012597,...,0.009467,0.013378,0.003150,0.001146,0.013233,0.014674,0.000950,0.011291,0.007983,0.006906
43197,0.029900,0.023145,0.000017,-0.004931,0.121117,0.120458,0.085950,0.082413,0.013183,0.012617,...,0.009417,0.013303,0.003150,0.001146,0.013150,0.014589,0.000967,0.011444,0.007700,0.006621
43198,0.029983,0.023238,0.000017,-0.004931,0.028483,0.029783,0.084900,0.080946,0.013217,0.012657,...,0.009500,0.013428,0.003167,0.001189,0.012917,0.014352,0.000983,0.011599,0.007767,0.006688

In [244]:
df1

         Barn_r    Barn_p
0      0.029750  0.025337
1      0.029733  0.025807
2      0.029533  0.025576
3      0.029333  0.025345
4      0.029400  0.025422
...         ...       ...
43194  0.029967  0.023220
43195  0.030017  0.023276
43196  0.029900  0.023145
43197  0.029900  0.023145
43198  0.029983  0.023238

[43199 rows x 2 columns]

In [245]:
df['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
df = df.set_index('time')

In [246]:
df['month'] = df.index.month
df['day'] = df.index.day
df['weekday'] = df.index.day_name()
df['hour'] = df.index.hour
df['minute'] = df.index.minute
df.tail(2)

,Barn_r,Barn_p,Dishwasher_r,Dishwasher_p,Fridge_r,Fridge_p,Furnace_r,Furnace_p,Garage door_r,Garage door_p,...,Solar_p,Well_r,Well_p,Wine cellar_r,Wine cellar_p,month,day,weekday,hour,minute
time,,,,,,,,,,,,,,,,,,,,,
2016-11-30 23:58:00,0.029900,0.023145,0.000017,-0.004931,0.121117,0.120458,0.08595,0.082413,0.013183,0.012617,...,0.014589,0.000967,0.011444,0.007700,0.006621,11,30,Wednesday,23,58
2016-11-30 23:59:00,0.029983,0.023238,0.000017,-0.004931,0.028483,0.029783,0.08490,0.080946,0.013217,0.012657,...,0.014352,0.000983,0.011599,0.007767,0.006688,11,30,Wednesday,23,59

In [247]:
cols = df.columns[1:25:2]
for col in cols:
    df.loc[df[col]<0,[col]] = 0

In [219]:
sw = [1,2,6,7,8,11,12]
sf = [3,4,5,9,10]
low = [13,14,15,16,17,18,19,20,21,22]
mid = [23,0,1,2,3,4,5,6]
high = [7,8,9,10,11,12]

In [250]:
df_l = df[df['hour'].isin(low)]
df_l['fare'] = 107.0

/tmp/ipykernel_803/3462086746.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_l['fare'] = 107.0

In [249]:
df_m = df[df['hour'].isin(mid)]
df_m['fare'] = 153.0

/tmp/ipykernel_803/1599366453.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m['fare'] = 153.0

In [248]:
df_h = df[df['hour'].isin(high)]
df_h['fare'] = 188.8

/tmp/ipykernel_803/2265864821.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_h['fare'] = 188.8

In [251]:
df.columns

Index(['Barn_r', 'Barn_p', 'Dishwasher_r', 'Dishwasher_p', 'Fridge_r',
       'Fridge_p', 'Furnace_r', 'Furnace_p', 'Garage door_r', 'Garage door_p',
       'Home office_r', 'Home office_p', 'Kitchen_r', 'Kitchen_p',
       'Living room_r', 'Living room_p', 'Microwave_r', 'Microwave_p',
       'Solar_r', 'Solar_p', 'Well_r', 'Well_p', 'Wine cellar_r',
       'Wine cellar_p', 'month', 'day', 'weekday', 'hour', 'minute'],
      dtype='object')

In [252]:
df = pd.concat([df_l,df_m,df_h])
df = df.sort_index()

In [256]:
interested = ['Barn_r', 'Barn_p']
df1 = df[interested]
df1['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
df1 = df1.set_index('time')
df1['day'] = df1.index.day
df1['hour'] = df1.index.hour
df_1l = df1[df1['hour'].isin(low)]
df_1l['fare'] = 107.0
df_1m = df1[df1['hour'].isin(mid)]
df_1m['fare'] = 153.0
df_1h = df1[df1['hour'].isin(high)]
df_1h['fare'] = 188.8
df1 = pd.concat([df_1l,df_1m,df_1h])
df1 = df1.sort_index()

/tmp/ipykernel_803/3820051360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
/tmp/ipykernel_803/3820051360.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1l['fare'] = 107.0
/tmp/ipykernel_803/3820051360.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1m['fare'] = 153.0
/tmp/ipykernel_803/3820051360.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1h['fare'] = 188.8

In [257]:
df1['Barn_r_fare'] = df1['Barn_r'] * df1['fare'] / 60
df1['Barn_p_fare'] = df1['Barn_p'] * df1['fare'] / 60

In [258]:
df1_1 = df1.loc[df1['day']==1]
#하루요금량
print(sum(df1_1['Barn_r_fare']))
print(sum(df1_1['Barn_p_fare']))

120.47116558191658
114.94723391491294

In [259]:
(120.47116558191658 - 114.94723391491294)/120.47116558191658 *100

4.585272866184347

In [261]:
interested = ['Dishwasher_r', 'Dishwasher_p']
df2 = df[interested]
df2['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
df2 = df2.set_index('time')
df2['day'] = df2.index.day
df2['hour'] = df2.index.hour
df_2l = df2[df2['hour'].isin(low)]
df_2l['fare'] = 107.0
df_2m = df2[df2['hour'].isin(mid)]
df_2m['fare'] = 153.0
df_2h = df2[df2['hour'].isin(high)]
df_2h['fare'] = 188.8
df2 = pd.concat([df_2l,df_2m,df_2h])
df2 = df2.sort_index()
df2['Dishwasher_r_fare'] = df2['Dishwasher_r'] * df2['fare'] / 60
df2['Dishwasher_p_fare'] = df2['Dishwasher_p'] * df2['fare'] / 60
df2_1 = df2.loc[df2['day']==1]
#하루요금량
print(sum(df2_1['Dishwasher_r_fare']))
print(sum(df2_1['Dishwasher_p_fare']))

192.0623160710115
184.49013685030238

/tmp/ipykernel_803/2649109370.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
/tmp/ipykernel_803/2649109370.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2l['fare'] = 107.0
/tmp/ipykernel_803/2649109370.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2m['fare'] = 153.0
/tmp/ipykernel_803/2649109370.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2h['fare'] = 188.8

In [309]:
(192.0623160710115-184.49013685030238) / 192.0623160710115 *100

3.942563734319156

In [263]:
interested = ['Fridge_r', 'Fridge_p']
df1 = df[interested]
df3['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
df3 = df3.set_index('time')
df3['day'] = df3.index.day
df3['hour'] = df3.index.hour
df_3l = df3[df3['hour'].isin(low)]
df_3l['fare'] = 107.0
df_3m = df3[df3['hour'].isin(mid)]
df_3m['fare'] = 153.0
df_3h = df3[df3['hour'].isin(high)]
df_3h['fare'] = 188.8
df3 = pd.concat([df_3l,df_3m,df_3h])
df3 = df3.sort_index()
df3['Fridge_r_fare'] = df3['Fridge_r'] * df3['fare'] / 60
df3['Fridge_p_fare'] = df3['Fridge_p'] * df3['fare'] / 60
df3_1 = df3.loc[df3['day']==1]
#하루요금량
print(sum(df3_1['Fridge_r_fare']))
print(sum(df3_1['Fridge_p_fare']))

251.9081169451675
255.88241993915457

/tmp/ipykernel_803/2117464919.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3l['fare'] = 107.0
/tmp/ipykernel_803/2117464919.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3m['fare'] = 153.0
/tmp/ipykernel_803/2117464919.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3h['fare'] = 188.8

In [264]:
np.abs(251.9081169451675 - 255.88241993915457) / 251.9081169451675 *100

1.5776796088123461

In [265]:
df.columns

Index(['Barn_r', 'Barn_p', 'Dishwasher_r', 'Dishwasher_p', 'Fridge_r',
       'Fridge_p', 'Furnace_r', 'Furnace_p', 'Garage door_r', 'Garage door_p',
       'Home office_r', 'Home office_p', 'Kitchen_r', 'Kitchen_p',
       'Living room_r', 'Living room_p', 'Microwave_r', 'Microwave_p',
       'Solar_r', 'Solar_p', 'Well_r', 'Well_p', 'Wine cellar_r',
       'Wine cellar_p', 'month', 'day', 'weekday', 'hour', 'minute', 'fare'],
      dtype='object')

In [266]:
df

,Barn_r,Barn_p,Dishwasher_r,Dishwasher_p,Fridge_r,Fridge_p,Furnace_r,Furnace_p,Garage door_r,Garage door_p,...,Well_r,Well_p,Wine cellar_r,Wine cellar_p,month,day,weekday,hour,minute,fare
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 00:01:00,0.029750,0.025337,0.000000,0.0,0.005400,0.008750,0.088783,0.087916,0.039867,0.042479,...,0.001000,0.013481,0.007933,0.006773,11,1,Tuesday,0,1,153.0
2016-11-01 00:02:00,0.029733,0.025807,0.000000,0.0,0.005033,0.008470,0.141400,0.156919,0.033667,0.036433,...,0.001000,0.013835,0.007917,0.006821,11,1,Tuesday,0,2,153.0
2016-11-01 00:03:00,0.029533,0.025576,0.000017,0.0,0.005067,0.008500,0.201750,0.235353,0.013200,0.013274,...,0.001000,0.013835,0.007933,0.006838,11,1,Tuesday,0,3,153.0
2016-11-01 00:04:00,0.029333,0.025345,0.000100,0.0,0.005333,0.008742,0.691767,0.648559,0.013483,0.013604,...,0.000967,0.013528,0.008367,0.007273,11,1,Tuesday,0,4,153.0
2016-11-01 00:05:00,0.029400,0.025422,0.000100,0.0,0.005300,0.008711,0.662050,0.620258,0.013450,0.013566,...,0.001000,0.013835,0.008317,0.007223,11,1,Tuesday,0,5,153.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-30 23:55:00,0.029967,0.023220,0.000017,0.0,0.121600,0.120958,0.086767,0.083554,0.013167,0.012597,...,0.000983,0.011599,0.007750,0.006671,11,30,Wednesday,23,55,153.0
2016-11-30 23:56:00,0.030017,0.023276,0.000017,0.0,0.121267,0.120613,0.086267,0.082856,0.013183,0.012617,...,0.001000,0.011753,0.007750,0.006671,11,30,Wednesday,23,56,153.0
2016-11-30 23:57:00,0.029900,0.023145,0.000017,0.0,0.121683,0.121045,0.084800,0.080806,0.013167,0.012597,...,0.000950,0.011291,0.007983,0.006906,11,30,Wednesday,23,57,153.0
2016-11-30 23:58:00,0.029900,0.023145,0.000017,0.0,0.121117,0.120458,0.085950,0.082413,0.013183,0.012617,...,0.000967,0.011444,0.007700,0.006621,11,30,Wednesday,23,58,153.0
2016-11-30 23:59:00,0.029983,0.023238,0.000017,0.0,0.028483,0.029783,0.084900,0.080946,0.013217,0.012657,...,0.000983,0.011599,0.007767,0.006688,11,30,Wednesday,23,59,153.0