In [172]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [173]:
# 디바이스별 클러스터링 한 데이터 불러오기
df = pd.read_csv('cluster_df2.csv')
df

,time,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,...,Fridge_p_cluster,Furnace_p_cluster,Garage door_p_cluster,Home office_p_cluster,Kitchen_p_cluster,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster
0,2016-11-01 00:01:00,0.025337,0.0,0.008750,0.087916,0.042479,0.167406,0.0,0.002058,0.001758,...,0,0,0,0,0,0,0,1,0,0
1,2016-11-01 00:02:00,0.025807,0.0,0.008470,0.156919,0.036433,0.165267,0.0,0.001721,0.001565,...,0,0,0,0,0,0,0,1,0,0
2,2016-11-01 00:03:00,0.025576,0.0,0.008500,0.235353,0.013274,0.163328,0.0,0.001614,0.001473,...,0,0,0,0,0,0,0,1,0,0
3,2016-11-01 00:04:00,0.025345,0.0,0.008742,0.648559,0.013604,0.164950,0.0,0.001640,0.001382,...,0,1,0,0,0,0,0,1,0,0
4,2016-11-01 00:05:00,0.025422,0.0,0.008711,0.620258,0.013566,0.164431,0.0,0.001479,0.001382,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43194,2016-11-30 23:55:00,0.023220,0.0,0.120958,0.083554,0.012597,0.552404,0.0,0.013228,0.001146,...,1,0,0,1,0,0,0,0,0,0
43195,2016-11-30 23:56:00,0.023276,0.0,0.120613,0.082856,0.012617,0.552199,0.0,0.013504,0.001189,...,1,0,0,1,0,0,0,0,0,0
43196,2016-11-30 23:57:00,0.023145,0.0,0.121045,0.080806,0.012597,0.531886,0.0,0.013378,0.001146,...,1,0,0,1,0,0,0,0,0,0
43197,2016-11-30 23:58:00,0.023145,0.0,0.120458,0.082413,0.012617,0.523531,0.0,0.013303,0.001146,...,1,0,0,1,0,0,0,0,0,0
43198,2016-11-30 23:59:00,0.023238,0.0,0.029783,0.080946,0.012657,0.550173,0.0,0.013428,0.001189,...,0,0,0,1,0,0,0,0,0,0

In [174]:
# 시간(인덱스) 추가
df['time'] = pd.DatetimeIndex(pd.date_range('2016-11-01 00:01', periods=len(df),  freq='min'))
df = df.set_index('time')
df

,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,Solar_p,...,Fridge_p_cluster,Furnace_p_cluster,Garage door_p_cluster,Home office_p_cluster,Kitchen_p_cluster,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 00:01:00,0.025337,0.0,0.008750,0.087916,0.042479,0.167406,0.0,0.002058,0.001758,0.385787,...,0,0,0,0,0,0,0,1,0,0
2016-11-01 00:02:00,0.025807,0.0,0.008470,0.156919,0.036433,0.165267,0.0,0.001721,0.001565,0.384670,...,0,0,0,0,0,0,0,1,0,0
2016-11-01 00:03:00,0.025576,0.0,0.008500,0.235353,0.013274,0.163328,0.0,0.001614,0.001473,0.384825,...,0,0,0,0,0,0,0,1,0,0
2016-11-01 00:04:00,0.025345,0.0,0.008742,0.648559,0.013604,0.164950,0.0,0.001640,0.001382,0.382497,...,0,1,0,0,0,0,0,1,0,0
2016-11-01 00:05:00,0.025422,0.0,0.008711,0.620258,0.013566,0.164431,0.0,0.001479,0.001382,0.382481,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-30 23:55:00,0.023220,0.0,0.120958,0.083554,0.012597,0.552404,0.0,0.013228,0.001146,0.015165,...,1,0,0,1,0,0,0,0,0,0
2016-11-30 23:56:00,0.023276,0.0,0.120613,0.082856,0.012617,0.552199,0.0,0.013504,0.001189,0.014911,...,1,0,0,1,0,0,0,0,0,0
2016-11-30 23:57:00,0.023145,0.0,0.121045,0.080806,0.012597,0.531886,0.0,0.013378,0.001146,0.014674,...,1,0,0,1,0,0,0,0,0,0
2016-11-30 23:58:00,0.023145,0.0,0.120458,0.082413,0.012617,0.523531,0.0,0.013303,0.001146,0.014589,...,1,0,0,1,0,0,0,0,0,0
2016-11-30 23:59:00,0.023238,0.0,0.029783,0.080946,0.012657,0.550173,0.0,0.013428,0.001189,0.014352,...,0,0,0,1,0,0,0,0,0,0

In [175]:
# 시계열 월, 시간 정의
sw = [1,2,6,7,8,11,12]
sf = [3,4,5,9,10]
low = [13,14,15,16,17,18,19,20,21,22]
mid = [23,0,1,2,3,4,5,6]
high = [7,8,9,10,11,12]

In [176]:
df['month'] = df.index.month
df['day'] = df.index.day
df['weekday'] = df.index.day_name()
df['hour'] = df.index.hour
df['minute'] = df.index.minute
df.head(2)

,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,Solar_p,...,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster,month,day,weekday,hour,minute
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 00:01:00,0.025337,0.0,0.00875,0.087916,0.042479,0.167406,0.0,0.002058,0.001758,0.385787,...,0,0,1,0,0,11,1,Tuesday,0,1
2016-11-01 00:02:00,0.025807,0.0,0.00847,0.156919,0.036433,0.165267,0.0,0.001721,0.001565,0.384670,...,0,0,1,0,0,11,1,Tuesday,0,2

In [177]:
# 최대부하 시간 값 추출
df1 = df[df['hour'].isin(high)]
df1

,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,Solar_p,...,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster,month,day,weekday,hour,minute
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 07:00:00,0.029524,0.0,0.008499,0.082568,0.012475,0.115175,0.0,0.314612,0.001210,0.004938,...,1,0,0,0,1,11,1,Tuesday,7,0
2016-11-01 07:01:00,0.029704,0.0,0.008499,0.081473,0.012475,0.113266,0.0,0.319414,0.001256,0.004938,...,1,0,0,0,1,11,1,Tuesday,7,1
2016-11-01 07:02:00,0.080999,0.0,0.008453,0.081648,0.012475,0.113468,0.0,0.318858,0.001256,0.004973,...,1,0,0,0,1,11,1,Tuesday,7,2
2016-11-01 07:03:00,0.145498,0.0,0.008484,0.082349,0.012455,0.111744,0.0,0.318705,0.001119,0.004938,...,1,0,0,0,1,11,1,Tuesday,7,3
2016-11-01 07:04:00,0.029765,0.0,0.008453,0.081845,0.012475,0.113451,0.0,0.316924,0.001302,0.004973,...,1,0,0,0,1,11,1,Tuesday,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-30 12:55:00,0.036593,0.0,0.008464,0.087321,0.013370,0.428564,0.0,0.002377,0.002848,0.005149,...,0,0,0,0,0,11,30,Wednesday,12,55
2016-11-30 12:56:00,0.036174,0.0,0.008494,0.086532,0.013370,0.428429,0.0,0.002219,0.002893,0.005132,...,0,0,0,0,0,11,30,Wednesday,12,56
2016-11-30 12:57:00,0.036115,0.0,0.104577,0.084791,0.013334,0.421462,0.0,0.002245,0.002848,0.005114,...,0,0,0,0,0,11,30,Wednesday,12,57
2016-11-30 12:58:00,0.035875,0.0,0.142808,0.085929,0.013334,0.421125,0.0,0.001876,0.003118,0.005062,...,0,0,0,0,0,11,30,Wednesday,12,58
2016-11-30 12:59:00,0.035836,0.0,0.139170,0.085023,0.013352,0.421041,0.0,0.002192,0.003208,0.005080,...,0,0,0,0,0,11,30,Wednesday,12,59

In [178]:
# 중간부하 추출
df2 = df[df['hour'].isin(mid)]
df2

,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,Solar_p,...,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster,month,day,weekday,hour,minute
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 00:01:00,0.025337,0.0,0.008750,0.087916,0.042479,0.167406,0.0,0.002058,0.001758,0.385787,...,0,0,1,0,0,11,1,Tuesday,0,1
2016-11-01 00:02:00,0.025807,0.0,0.008470,0.156919,0.036433,0.165267,0.0,0.001721,0.001565,0.384670,...,0,0,1,0,0,11,1,Tuesday,0,2
2016-11-01 00:03:00,0.025576,0.0,0.008500,0.235353,0.013274,0.163328,0.0,0.001614,0.001473,0.384825,...,0,0,1,0,0,11,1,Tuesday,0,3
2016-11-01 00:04:00,0.025345,0.0,0.008742,0.648559,0.013604,0.164950,0.0,0.001640,0.001382,0.382497,...,0,0,1,0,0,11,1,Tuesday,0,4
2016-11-01 00:05:00,0.025422,0.0,0.008711,0.620258,0.013566,0.164431,0.0,0.001479,0.001382,0.382481,...,0,0,1,0,0,11,1,Tuesday,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-30 23:55:00,0.023220,0.0,0.120958,0.083554,0.012597,0.552404,0.0,0.013228,0.001146,0.015165,...,0,0,0,0,0,11,30,Wednesday,23,55
2016-11-30 23:56:00,0.023276,0.0,0.120613,0.082856,0.012617,0.552199,0.0,0.013504,0.001189,0.014911,...,0,0,0,0,0,11,30,Wednesday,23,56
2016-11-30 23:57:00,0.023145,0.0,0.121045,0.080806,0.012597,0.531886,0.0,0.013378,0.001146,0.014674,...,0,0,0,0,0,11,30,Wednesday,23,57
2016-11-30 23:58:00,0.023145,0.0,0.120458,0.082413,0.012617,0.523531,0.0,0.013303,0.001146,0.014589,...,0,0,0,0,0,11,30,Wednesday,23,58
2016-11-30 23:59:00,0.023238,0.0,0.029783,0.080946,0.012657,0.550173,0.0,0.013428,0.001189,0.014352,...,0,0,0,0,0,11,30,Wednesday,23,59

In [179]:
# 경부하 추출
df3 = df[df['hour'].isin(low)]
df3

,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,Solar_p,...,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster,month,day,weekday,hour,minute
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 13:00:00,0.028814,0.0,0.007789,0.077803,0.012656,0.104212,0.0,0.001043,0.001718,0.004542,...,0,0,0,0,0,11,1,Tuesday,13,0
2016-11-01 13:01:00,0.028735,0.0,0.007820,0.077072,0.012611,0.106110,0.0,0.000988,0.001718,0.004542,...,0,0,0,0,0,11,1,Tuesday,13,1
2016-11-01 13:02:00,0.028853,0.0,0.007805,0.076570,0.012566,0.103853,0.0,0.000850,0.001629,0.004508,...,0,0,0,0,0,11,1,Tuesday,13,2
2016-11-01 13:03:00,0.028716,0.0,0.007805,0.084771,0.012589,0.103151,0.0,0.000711,0.001673,0.004560,...,0,0,0,0,0,11,1,Tuesday,13,3
2016-11-01 13:04:00,0.028834,0.0,0.007805,0.077636,0.012566,0.104041,0.0,0.000933,0.001673,0.004542,...,0,0,0,0,0,11,1,Tuesday,13,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-11-30 22:55:00,0.024013,0.0,0.008438,0.083438,0.012729,0.060161,0.0,0.013021,0.001299,0.017051,...,0,0,0,0,0,11,30,Wednesday,22,55
2016-11-30 22:56:00,0.024308,0.0,0.008438,0.082392,0.012691,0.055418,0.0,0.013195,0.001256,0.017356,...,0,0,0,0,0,11,30,Wednesday,22,56
2016-11-30 22:57:00,0.024381,0.0,0.008453,0.080648,0.012691,0.061022,0.0,0.013195,0.001256,0.017711,...,0,0,0,0,0,11,30,Wednesday,22,57
2016-11-30 22:58:00,0.024123,0.0,0.008783,0.081648,0.012691,0.070103,0.0,0.012996,0.001299,0.018336,...,0,0,0,0,0,11,30,Wednesday,22,58
2016-11-30 22:59:00,0.023939,0.0,0.008453,0.080857,0.012691,0.057213,0.0,0.012946,0.001256,0.019366,...,0,0,0,0,0,11,30,Wednesday,22,59

In [180]:
interested = ['Barn_p', 'Dishwasher_p', 'Fridge_p', 'Furnace_p', 'Garage door_p',
       'Home office_p', 'Kitchen_p', 'Living room_p', 'Microwave_p', 'Solar_p',
       'Well_p', 'Wine cellar_p', 'Barn_p_cluster', 'Dishwasher_p_cluster',
       'Fridge_p_cluster', 'Furnace_p_cluster', 'Garage door_p_cluster',
       'Home office_p_cluster', 'Kitchen_p_cluster', 'Living room_p_cluster',
       'Microwave_p_cluster', 'Solar_p_cluster', 'Well_p_cluster',
       'Wine cellar_p_cluster','day']

In [181]:
# 디바이스별 예측값과 클러스터링 값만 추출
df1 = df1[interested]
df2 = df2[interested]
df3 = df3[interested]

df1.head()

,Barn_p,Dishwasher_p,Fridge_p,Furnace_p,Garage door_p,Home office_p,Kitchen_p,Living room_p,Microwave_p,Solar_p,...,Furnace_p_cluster,Garage door_p_cluster,Home office_p_cluster,Kitchen_p_cluster,Living room_p_cluster,Microwave_p_cluster,Solar_p_cluster,Well_p_cluster,Wine cellar_p_cluster,day
time,,,,,,,,,,,,,,,,,,,,,
2016-11-01 07:00:00,0.029524,0.0,0.008499,0.082568,0.012475,0.115175,0.0,0.314612,0.001210,0.004938,...,0,0,0,0,1,0,0,0,1,1
2016-11-01 07:01:00,0.029704,0.0,0.008499,0.081473,0.012475,0.113266,0.0,0.319414,0.001256,0.004938,...,0,0,0,0,1,0,0,0,1,1
2016-11-01 07:02:00,0.080999,0.0,0.008453,0.081648,0.012475,0.113468,0.0,0.318858,0.001256,0.004973,...,0,0,0,0,1,0,0,0,1,1
2016-11-01 07:03:00,0.145498,0.0,0.008484,0.082349,0.012455,0.111744,0.0,0.318705,0.001119,0.004938,...,0,0,0,0,1,0,0,0,1,1
2016-11-01 07:04:00,0.029765,0.0,0.008453,0.081845,0.012475,0.113451,0.0,0.316924,0.001302,0.004973,...,0,0,0,0,1,0,0,0,1,1

In [182]:
# 디바이스별 예측값만 추출
cols = ['Barn_p', 'Dishwasher_p', 'Fridge_p', 'Furnace_p', 'Garage door_p',
       'Home office_p', 'Kitchen_p', 'Living room_p', 'Microwave_p', 'Solar_p',
       'Well_p', 'Wine cellar_p']

In [183]:
#총 사용량
total=0
for i in cols:
    a = sum(df1[i])
    total+=a
print(total)

8046.571908498231

In [184]:
total2=0
for i in cols:
    a = sum(df2[i])
    total2+=a
print(total2)

10253.445464271985

In [185]:
total3=0
for i in cols:
    a = sum(df3[i])
    total3+=a
print(total3)

9999.82868647732

In [186]:
total+total2+total3

28299.84605924754

In [187]:
# 수요이전할 항목(1)과 안할 항목(0)의 사용량 추출
Barn0 = df1.loc[df1['Barn_p_cluster']==0]
a1 = sum(Barn0['Barn_p'])
Barn1 = df1.loc[df1['Barn_p_cluster']==1]
a2 = sum(Barn1['Barn_p'])
print(a1,a2)

664.6506982184947 44.43684482574463

In [188]:
Dish0 = df1.loc[df1['Dishwasher_p_cluster']==0]
b1 = sum(Dish0['Dishwasher_p'])
Dish1 = df1.loc[df1['Dishwasher_p_cluster']==1]
b2 = sum(Dish1['Dishwasher_p'])
print(b1,b2)

86.93282651163463 506.0933562517166

In [189]:
Fridge0 = df1.loc[df1['Fridge_p_cluster']==0]
c1 = sum(Fridge0['Fridge_p'])
Fridge1 = df1.loc[df1['Fridge_p_cluster']==1]
c2 = sum(Fridge1['Fridge_p'])
print(c1,c2)

60.5554843135178 604.6005394458771

In [190]:
Furnace0 = df1.loc[df1['Furnace_p_cluster']==0]
d1 = sum(Furnace0['Furnace_p'])
Furnace1 = df1.loc[df1['Furnace_p_cluster']==1]
d2 = sum(Furnace1['Furnace_p'])
print(d1,d2)

799.7788078784941 1839.3156298696995

In [191]:
Garagedoor0 = df1.loc[df1['Garage door_p_cluster']==0]
e1 = sum(Garagedoor0['Garage door_p'])
Garagedoor1 = df1.loc[df1['Garage door_p_cluster']==1]
e2 = sum(Garagedoor1['Garage door_p'])
print(e1,e2)

141.99023298965764 9.295027963817118

In [192]:
office0 = df1.loc[df1['Home office_p_cluster']==0]
f1 = sum(office0['Home office_p'])
office1 = df1.loc[df1['Home office_p_cluster']==1]
f2 = sum(office1['Home office_p'])
print(f1,f2)

521.1474830843508 1039.7156873047352

In [193]:
Kitchen0 = df1.loc[df1['Kitchen_p_cluster']==0]
g1 = sum(Kitchen0['Kitchen_p'])
Kitchen1 = df1.loc[df1['Kitchen_p_cluster']==1]
g2 = sum(Kitchen1['Kitchen_p'])
print(g1,g2)

59.98580820765346 83.82424032688141

In [194]:
Living0 = df1.loc[df1['Living room_p_cluster']==0]
h1 = sum(Living0['Living room_p'])
Living1 = df1.loc[df1['Living room_p_cluster']==1]
h2 = sum(Living1['Living room_p'])
print(h1,h2)

72.4265353434748 702.3868306130171

In [195]:
Microwave0 = df1.loc[df1['Microwave_p_cluster']==0]
i1 = sum(Microwave0['Microwave_p'])
Microwave1 = df1.loc[df1['Microwave_p_cluster']==1]
i2 = sum(Microwave1['Microwave_p'])
print(i1,i2)

30.61088322328647 171.43961489200592

In [196]:
Solar0 = df1.loc[df1['Solar_p_cluster']==0]
j1 = sum(Solar0['Solar_p'])
Solar1 = df1.loc[df1['Solar_p_cluster']==1]
j2 = sum(Solar1['Solar_p'])
print(j1,j2)

54.39651965140364 0

In [197]:
Well0 = df1.loc[df1['Well_p_cluster']==0]
k1 = sum(Well0['Well_p'])
Well1 = df1.loc[df1['Well_p_cluster']==1]
k2 = sum(Well1['Well_p'])
print(k1,k2)

104.22227115053464 154.22336894273758

In [198]:
Wine0 = df1.loc[df1['Wine cellar_p_cluster']==0]
l1 = sum(Wine0['Wine cellar_p'])
Wine1 = df1.loc[df1['Wine cellar_p_cluster']==1]
l2 = sum(Wine1['Wine cellar_p'])
print(l1,l2)

109.2770029325038 185.26621455699205

In [201]:
month_usage = 0 # 11월 사용량 초기화
all_result = 0 # 절감률 초기화

# 11월 1일부터 30일까지 반복
for i in range(1,31):
    df_d = df.loc[df['day']==i]

    # 최대부하, 중간부하, 경부하 정의
    df1_d = df_d[df_d['hour'].isin(high)]
    df2_d = df_d[df_d['hour'].isin(mid)]
    df3_d = df_d[df_d['hour'].isin(low)]
    
    # 최대부하, 중간부하, 경부하 전력사용량 총합
    total=0
    for j in cols:
        a = sum(df1_d[j])
        total+=a
    total2=0
    for j in cols:
        a = sum(df2_d[j])
        total2+=a
    total3=0
    for j in cols:
        a = sum(df3_d[j])
        total3+=a
    
    # 기기별 수요이전 하지 않는 전력사용량    
    Barn0_d1 = Barn0.loc[Barn0['day']==i]
    Dish0_d1 = Dish0.loc[Dish0['day']==i]
    Fridge0_d1 = Fridge0.loc[Fridge0['day']==i]
    Furnace0_d1 = Furnace0.loc[Furnace0['day']==i]
    Garagedoor0_d1 = Garagedoor0.loc[Garagedoor0['day']==i]
    office0_d1 = office0.loc[office0['day']==i]
    Kitchen0_d1 = Kitchen0.loc[Kitchen0['day']==i]
    Living0_d1 = Living0.loc[Living0['day']==i]
    Microwave0_d1 = Microwave0.loc[Microwave0['day']==i]
    Solar0_d1 = Solar0.loc[Solar0['day']==i]
    Well0_d1 = Well0.loc[Well0['day']==i]
    Wine0_d1 = Wine0.loc[Wine0['day']==i]
    
    # 기기별 수요이전 하지 않는 전력사용량 총합
    all0_d1 = sum(Barn0_d1['Barn_p']) + sum(Dish0_d1['Dishwasher_p']) + sum(Fridge0_d1['Fridge_p']) 
    + sum(Furnace0_d1['Furnace_p']) + sum(Garagedoor0_d1['Garage door_p']) + sum(office0_d1['Home office_p'])
    + sum(Kitchen0_d1['Kitchen_p']) + sum(Living0_d1['Living room_p']) + sum(Microwave0_d1['Microwave_p']) 
    + sum(Solar0_d1['Solar_p']) + sum(Well0_d1['Well_p']) + sum(Wine0_d1['Wine cellar_p'])
    
    # 기기별 수요이전 하는 전력사용량
    Barn1_d1 = Barn1.loc[Barn1['day']==i]
    Dish1_d1 = Dish1.loc[Dish1['day']==i]
    Fridge1_d1 = Fridge1.loc[Fridge1['day']==i]
    Furnace1_d1 = Furnace1.loc[Furnace1['day']==i]
    Garagedoor1_d1 = Garagedoor1.loc[Garagedoor1['day']==i]
    office1_d1 = office1.loc[office1['day']==i]
    Kitchen1_d1 = Kitchen1.loc[Kitchen1['day']==i]
    Living1_d1 = Living1.loc[Living1['day']==i]
    Microwave1_d1 = Microwave1.loc[Microwave1['day']==i]
    Solar1_d1 = Solar1.loc[Solar1['day']==i]
    Well1_d1 = Well1.loc[Well1['day']==i]
    Wine1_d1 = Wine1.loc[Wine1['day']==i]
    
    # 기기별 수요이전 하는 전력사용량 총합
    all1_d1 = sum(Barn1_d1['Barn_p']) + sum(Dish1_d1['Dishwasher_p']) + sum(Fridge1_d1['Fridge_p'])
    + sum(Furnace1_d1['Furnace_p']) + sum(Garagedoor1_d1['Garage door_p']) + sum(office1_d1['Home office_p']) 
    + sum(Kitchen1_d1['Kitchen_p']) + sum(Living1_d1['Living room_p']) + sum(Microwave1_d1['Microwave_p']) 
    + sum(Solar1_d1['Solar_p']) + sum(Well1_d1['Well_p']) + sum(Wine1_d1['Wine cellar_p'])

    all_total = total+total2+total3
    print(f'11월 {i}일의 전력 사용량: {all_total}')
    
    # 11월 총 사용량 합계
    month_usage +=all_total
    
    a = (total*188.8 + total2*153.0 + total3*107.0)/60
    print(f'11월 {i}일의 수요이전 수행 전 전력요금: {a}')
    b = (((all0_d1*188.8)+(all1_d1*107.0))+ total2*153.0 + total3*107.0)/60
    print(f'11월 {i}일의 수요이전 수행 후 전력요금: {b}')
    result = (a-b)/a*100
    print(f'11월 {i}일의 요금 절감률: {result}')
    print('------------------------------------------')
    
    all_result += result

print(f'11월의 총 전력 사용량: {month_usage}')

result_avg = all_result/30
print(f'11월 절감률 평균: {result_avg}')

11월 1일의 전력 사용량: 979.8835641480109
11월 1일의 수요이전 수행 전 전력요금: 2416.1715385746115
11월 1일의 수요이전 수행 후 전력요금: 1679.6753990308653
11월 1일의 요금 절감률: 30.481947485327655
------------------------------------------
11월 2일의 전력 사용량: 758.3353746238772
11월 2일의 수요이전 수행 전 전력요금: 1828.6871826699614
11월 2일의 수요이전 수행 후 전력요금: 1378.4824235953731
11월 2일의 요금 절감률: 24.619014303871815
------------------------------------------
11월 3일의 전력 사용량: 692.9008949571048
11월 3일의 수요이전 수행 전 전력요금: 1685.5951438669852
11월 3일의 수요이전 수행 후 전력요금: 1222.2336642645014
11월 3일의 요금 절감률: 27.48948828480066
------------------------------------------
11월 4일의 전력 사용량: 735.5863856130709
11월 4일의 수요이전 수행 전 전력요금: 1774.3384694772797
11월 4일의 수요이전 수행 후 전력요금: 1277.7252714856288
11월 4일의 요금 절감률: 27.98863951464419
------------------------------------------
11월 5일의 전력 사용량: 761.5603043168849
11월 5일의 수요이전 수행 전 전력요금: 1791.922529564811
11월 5일의 수요이전 수행 후 전력요금: 1351.917291034178
11월 5일의 요금 절감률: 24.55492529788624
------------------------------------------
11월 6일의 전력 사용량: 881.8558981597824
11월 6일의 수요이전 수행 전 전력요금: 2176.901487919207
11월 6일의 수요이전 수행 후 전력요금: 1793.542673382349
11월 6일의 요금 절감률: 17.61029686755792
------------------------------------------
11월 7일의 전력 사용량: 1037.4227653324356
11월 7일의 수요이전 수행 전 전력요금: 2544.7998789233825
11월 7일의 수요이전 수행 후 전력요금: 1884.6572622034298
11월 7일의 요금 절감률: 25.940845965429567
------------------------------------------
11월 8일의 전력 사용량: 721.9428393144625
11월 8일의 수요이전 수행 전 전력요금: 1664.6577137969246
11월 8일의 수요이전 수행 후 전력요금: 1332.1934308763655
11월 8일의 요금 절감률: 19.971930575580004
------------------------------------------
11월 9일의 전력 사용량: 859.3373175779589
11월 9일의 수요이전 수행 전 전력요금: 2104.6390138020233
11월 9일의 수요이전 수행 후 전력요금: 1564.3186683916986
11월 9일의 요금 절감률: 25.672827590240182
------------------------------------------
11월 10일의 전력 사용량: 838.8949659323584
11월 10일의 수요이전 수행 전 전력요금: 2049.4882172620787
11월 10일의 수요이전 수행 후 전력요금: 1379.4354580996965
11월 10일의 요금 절감률: 32.69366242356392
------------------------------------------
11월 11일의 전력 사용량: 725.9518680025501
11월 11일의 수요이전 수행 전 전력요금: 1787.1954327278222
11월 11일의 수요이전 수행 후 전력요금: 1203.5231269641047
11월 11일의 요금 절감률: 32.65856073014074
------------------------------------------
11월 12일의 전력 사용량: 1100.2395582603094
11월 12일의 수요이전 수행 전 전력요금: 2667.232479040464
11월 12일의 수요이전 수행 후 전력요금: 1871.5415505096448
11월 12일의 요금 절감률: 29.832080059892974
------------------------------------------
11월 13일의 전력 사용량: 1137.4697662049439
11월 13일의 수요이전 수행 전 전력요금: 2827.6460759404645
11월 13일의 수요이전 수행 후 전력요금: 1955.309027682251
11월 13일의 요금 절감률: 30.850291190281915
------------------------------------------
11월 14일의 전력 사용량: 954.6109352644271
11월 14일의 수요이전 수행 전 전력요금: 2317.0856768726558
11월 14일의 수요이전 수행 후 전력요금: 1789.806584526126
11월 14일의 요금 절감률: 22.756132740770827
------------------------------------------
11월 15일의 전력 사용량: 922.8757933786255
11월 15일의 수요이전 수행 전 전력요금: 2303.876538519139
11월 15일의 수요이전 수행 후 전력요금: 1635.412135649044
11월 15일의 요금 절감률: 29.014766707063362
------------------------------------------
11월 16일의 전력 사용량: 862.7651984364475
11월 16일의 수요이전 수행 전 전력요금: 2110.9740598016347
11월 16일의 수요이전 수행 후 전력요금: 1371.220358900579
11월 16일의 요금 절감률: 35.04323975305359
------------------------------------------
11월 17일의 전력 사용량: 788.7363978394169
11월 17일의 수요이전 수행 전 전력요금: 1907.8686120618347
11월 17일의 수요이전 수행 후 전력요금: 1217.0715660633048
11월 17일의 요금 절감률: 36.20778923827386
------------------------------------------
11월 18일의 전력 사용량: 824.257397147611
11월 18일의 수요이전 수행 전 전력요금: 2004.273044290135
11월 18일의 수요이전 수행 후 전력요금: 1429.0945791054507
11월 18일의 요금 절감률: 28.697610179575033
------------------------------------------
11월 19일의 전력 사용량: 875.9399891077956
11월 19일의 수요이전 수행 전 전력요금: 2168.9324957620875
11월 19일의 수요이전 수행 후 전력요금: 1592.5143921424713
11월 19일의 요금 절감률: 26.576120038124234
------------------------------------------
11월 20일의 전력 사용량: 807.6579853756202
11월 20일의 수요이전 수행 전 전력요금: 2013.375818026366
11월 20일의 수요이전 수행 후 전력요금: 1457.3515864638312
11월 20일의 요금 절감률: 27.616514839618155
------------------------------------------
11월 21일의 전력 사용량: 1089.9920185614028
11월 21일의 수요이전 수행 전 전력요금: 2664.434467779678
11월 21일의 수요이전 수행 후 전력요금: 1644.6030353895796
11월 21일의 요금 절감률: 38.27571834558733
------------------------------------------
11월 22일의 전력 사용량: 1404.7659038117854
11월 22일의 수요이전 수행 전 전력요금: 3379.287813324906
11월 22일의 수요이전 수행 후 전력요금: 2336.2033894770866
11월 22일의 요금 절감률: 30.86698977621326
------------------------------------------
11월 23일의 전력 사용량: 1164.2488664192092
11월 23일의 수요이전 수행 전 전력요금: 2868.6100334636785
11월 23일의 수요이전 수행 후 전력요금: 1814.2894648313095
11월 23일의 요금 절감률: 36.75370846274768
------------------------------------------
11월 24일의 전력 사용량: 1058.6741751882964
11월 24일의 수요이전 수행 전 전력요금: 2582.4385591163855
11월 24일의 수요이전 수행 후 전력요금: 1673.2947463247897
11월 24일의 요금 절감률: 35.20485742370076
------------------------------------------
11월 25일의 전력 사용량: 1223.9607696659077
11월 25일의 수요이전 수행 전 전력요금: 3137.3343248154843
11월 25일의 수요이전 수행 후 전력요금: 1934.745944394382
11월 25일의 요금 절감률: 38.3315342234631
------------------------------------------
11월 26일의 전력 사용량: 895.503824885571
11월 26일의 수요이전 수행 전 전력요금: 2183.223186774581
11월 26일의 수요이전 수행 후 전력요금: 1527.093683053431
11월 26일의 요금 절감률: 30.05324914538367
------------------------------------------
11월 27일의 전력 사용량: 959.1647742666973
11월 27일의 수요이전 수행 전 전력요금: 2312.656521717868
11월 27일의 수요이전 수행 후 전력요금: 1753.056753602745
11월 27일의 요금 절감률: 24.197271097544824
------------------------------------------
11월 28일의 전력 사용량: 1283.3258886847184
11월 28일의 수요이전 수행 전 전력요금: 3157.1501306731034
11월 28일의 수요이전 수행 후 전력요금: 2315.6425312772544
11월 28일의 요금 절감률: 26.654025452265707
------------------------------------------
11월 29일의 전력 사용량: 1002.4886573942458
11월 29일의 수요이전 수행 전 전력요금: 2511.9432130474947
11월 29일의 수요이전 수행 후 전력요금: 1564.4557205157207
11월 29일의 요금 절감률: 37.7193038286196
------------------------------------------
11월 30일의 전력 사용량: 949.495981376007
11월 30일의 수요이전 수행 전 전력요금: 2356.4537039061647
11월 30일의 수요이전 수행 후 전력요금: 1644.4159412648826
11월 30일의 요금 절감률: 30.21649699550541
------------------------------------------
11월의 총 전력 사용량: 28299.846059247535
11월 절감률 평균: 29.484994617890937